body{
    background-image: url(background.jpg);
    background-size: 110%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Helvetica, Arial;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
#inset{
    width: 35%;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.8);
}
h1{
    background-color: lightcoral;
    font-size: 24px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
h1, h2{
    text-align: center;
}
h3{
    margin-left: 8%;
}
input{
    display: block;
    margin: auto;
    width: 80%;
}
textarea{
    display: block;
    margin: auto;
    width: 90%;
    font-family: Helvetica, sans-serif;
}
#title{
    text-align: center;
}
#desc{
    height: 300px;
}
button{
    font-family: Arial;
    width: 50%;
    height: 30px;
    display: block;
    margin: auto;
    background-color: lightcoral;
    color: white;
    border-style: none;
    border-radius: 3px;
}
button:hover{
    cursor: pointer;
    color: black;
    box-shadow: 0 0 10px black;
}
footer{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.9);   
    color: white;
    font-family: Arial;
    padding: 40px;
}
select{
    margin-left: 10%;
    width: 50%;
}
@media screen and (max-width: 50em){
#inset{
    width: 95%;
}
body{
    background-size: 350%;
}
footer{
    height:50px;
}
}
